.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.main__wrapper{
    display: flex;
    margin-top: 135px;
}
.content{
    flex: 1 0 66.666%;
    margin: 0px 0px 0px 30px;
}
.content{
    flex: 1 0 66.666%;
}
@media (max-width: 768px) {
	.content{margin: 0px 0px 0px 0px;}
}
@media (max-width: 424px) {
    .main__wrapper{
        margin-top: 90px;
    }
}